---
layout: default
title : Yiqian Wu
navbar_title: Home
---
{% include widgets/profile_card.html %}

{% include widgets/debug_repo_name.html %}

{% include widgets/debug_url.html %}

{% if site.data.display.homepage.show_experience %}
    {% include widgets/experience_card.html %}
{% endif %}

 
{% include widgets/research_overview.html %}

{% if site.data.display.homepage.show_selected_publications %}
    {% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
    {% 
        include widgets/publication_card.html 
        publications=pubs
    %}
{% endif %}
